<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225299356593-e2da38r9n0il32tof688qejc10llr7e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225299356593-e2da38r9n0il32tof688qejc10llr7e1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225299356593-8k2jddvb50un15n9pcck05klp64n1unv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvbZmwZOPTEPAZC0g1rezUKXJ8MQ6XVRo</string>
	<key>GCM_SENDER_ID</key>
	<string>225299356593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.org.csekuaa</string>
	<key>PROJECT_ID</key>
	<string>csekuaa-e5709</string>
	<key>STORAGE_BUCKET</key>
	<string>csekuaa-e5709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225299356593:ios:1d61602376c13f1c8a7b90</string>
</dict>
</plist>